<!doctype html>
<html>

<head>
  <title>Hummus</title>
</head>

<body>
  <link rel="stylesheet" href="static/styles/style.css" type="text/css">
  <h1>
    <center>Arabian Food</center>
  </h1>
  <marquee bgcolor=330000><i><u>Welcome To Arabian Food</i></u></marquee>
  <h2 class="p">
    <center>Hummus</center>
  </h2>
  <center><img src="static/assets/hummus1.jpg" width="260px" heigth="160px" class="img2"></center>
  <p class="p1">
    <font color="white">
      Ingredients<br><br>

      -1 (17.25 ounce) package frozen puff pastry, thawed<br>

      -5 cups milk<br>

      -1 cup white sugar<br>

      -1 teaspoon vanilla extract<br>

      -1/4 cup raisins<br>

      -1/4 cup slivered almonds<br>

      -1/4 cup pine nuts<br>

      -1/4 cup chopped pistachio nuts<br>

      -1/4 cup sweetened, flaked coconut<br><br>
  </p>
  <p class="p1">
    <font color="white">
      DirectionsInstructions Checklist<br><br>
      Step 1:<br>
      Preheat the oven to 400 degrees F (200 degrees C). Unroll the puff pastry sheets, and place flat on a baking
      sheet. Bake for 15 minutes in the preheated oven, or until puffed and golden brown.<br><br>

      Step 2:<br>
      Break the puff pastry into pieces, and place in a large bowl. Add the raisins, almonds, pine nuts, pistachios, and
      coconut, and toss to distribute. Pour into a 9x13 inch glass baking dish, and spread evenly.<br><br>

      Step 3:<br>
      Pour the milk into a saucepan, and stir in the sugar and vanilla. Heat until hot but not quite boiling. Pour over
      the mixture in the baking dish.<br><br>

      Step 4:<br>
      Bake for 15 minutes in the preheated oven. Turn the oven to broil, and broil for 2 minutes to brown the top.
      Remove from the oven and let stand for 5 minutes. Serve warm.<br><br>
  </p>
</body>

</html>