<!doctype html>
<html>

<head>
  <title>Dolmas</title>
</head>

<body>
  <link rel="stylesheet" href="static/styles/style.css" type="text/css">
  <h1>
    <center>Arabian Food</center>
  </h1>
  <marquee bgcolor=330000><i><u>Welcome To Arabian Food</i></u></marquee>
  <h2 class="p">
    <center>Dolmas</center>
  </h2>
  <center><img src="static/assets/dolma.jpg" width="260px" heigth="160px" class="img2"></center>
  <p class="p1">
    <font color="white">
      Ingredients:<br><br>

      -1 tablespoon olive oil<br>

      -2 onions, minced<br>

      -1 1/2 cups uncooked white rice<br>

      -2 tablespoons tomato paste<br>

      -2 tablespoons dried currants<br>

      -2 tablespoons pine nuts<br>

      -1 tablespoon ground cinnamon<br>

      -1 tablespoon dried mint<br>

      -1 tablespoon dried dill weed<br>

      -1 teaspoon ground allspice<br>

      -1 teaspoon ground cumin<br>

      -1 (8 ounce) jar grape leaves, drained and rinsed<br>
  </p>
  <p class="p1">
    <font color="white">
      DirectionsInstructions Checklist:<br><br>
      Step 1:<br>
      Heat oil in a medium saucepan over medium heat. Saute onions until tender. Stir in rice and hot water to cover.
      Cover and simmer until rice is half cooked, about 10 minutes.<br><br>

      Step 2:<br>
      Remove from heat and stir in tomato paste, currants, pine nuts, cinnamon, mint leaves, dill weed, allspice and
      cumin. Let mixture cool.<br><br>

      Step 3:<br>
      Prepare a large pot by placing an inverted plate on the bottom; this protects the dolmas from direct heat when
      steaming.<br><br>

      Step 4:<br>
      Rinse grape leaves in warm water; drain and cut off any stems. Place about 1 teaspoon of the cooled rice mixture
      in the center of a leaf. Fold in the sides and then roll into a cigar shape. Place in prepared pot. Repeat with
      remaining ingredients.<br><br>

      Step 5:<br>
      Pour in just enough warm water to reach the bottom of the first layer of dolmas. Cover and simmer over low heat
      for 30 to 45 minutes, or until rice is totally cooked. Check the water level often and add more as
      necessary.<br><br>
</body>

</html>