<!DOCType html>
<html>

<head>
  <title>Arabian Food</title>
</head>

<body>
  <link rel="stylesheet" href="static/styles/style.css" type="text/css">
  <h1>
    <center>Arabian Food</center>
  </h1>
  <marquee bgcolor=CD2B09><i><u>Welcome To Arabian Food</i></u></marquee>
  <center>
    <table>
      <tr>
        <th>
          <p>
          <ol class="p">Hummus</ol>
          </p>
        </th>
        <th>
          <p>
          <ul class="p">Manakeesh</ul>
          </p>
        </th>
        <th>
          <p>
          <ul class="p">Grilled Halloumi</ul>
          </p>
        </th>
        <th>
          <p>
          <ul class="p">Foul Meddamas</ul>
          </p>
        </th>
        <th>
          <p>
          <ul class="p">Falafel</ul>
          </p>
        </th>
      </tr>
      <tr>
        <td><a href="hummus.html"><img src="static/assets/hummus1.jpg" width="260px" heigth="180px" class="img2"></a>
        </td>
        <td><a href="manakeesh.html"><img src="static/assets/manakeesh1.jpg" width="240px" heigth="400px"
              class="img2"></a>
        </td>
        <td><a href="grilledhalloumi.html"><img src="static/assets/grilledhalloumi.jpg" width="240px" heigth="400px"
              class="img2"></a>
        </td>
        <td><a href="foulmeddamas.html"><img src="static/assets/foulmeddamas.jpg" width="240px" heigth="400px"
              class="img2"></a></td>
        <td><a href="falafel.html"><img src="static/assets/falafel.jpg" width="240px" heigth="400px" class="img2"></a>
        </td>
      </tr>
      <tr>
        <th>
          <p>
          <ol class="p">Tabouleh</ol>
          </p>
        </th>
        <th>
          <p>
          <ul class="p">Moutabal</ul>
          </p>
        </th>
        <th>
          <p>
          <ul class="p">Fattoush</ul>
          </p>
        </th>
        <th>
          <p>
          <ul class="p">Umm Ali</ul>
          </p>
        </th>
        <th>
          <p>
          <ul class="p">Shanklish</ul>
          </p>
        </th>
      </tr>
      <tr>
        <td><a href="tabouleh.html"><img src="static/assets/tabouleh.jpg" width="260px" heigth="180px" class="img2"></a>
        </td>
        <td><a href="moutabal.html"><img src="static/assets/moutabal.jpg" width="240px" heigth="400px" class="img2"></a>
        </td>
        <td><a href="fattoush.html"><img src="static/assets/fattoush.jpg" width="240px" heigth="400px" class="img2"></a>
        </td>
        <td><a href="ummali.html"><img src="static/assets/ummali.jpg" width="240px" heigth="400px" class="img2"></a>
        </td>
        <td><a href="shanklish.html"><img src="static/assets/shanklish.jpg" width="240px" heigth="400px"
              class="img2"></a></td>
      </tr>
      <th>
        <p>
        <ol class="p">Shawarma</ol>
        </p>
      </th>
      <th>
        <p>
        <ul class="p">Shish Tawook</ul>
        </p>
      </th>
      <th>
        <p>
        <ul class="p">Dolma</ul>
        </p>
      </th>
      <th>
        <p>
        <ul class="p">Kofta</ul>
        </p>
      </th>
      <th>
        <p>
        <ul class="p">Quwarmah</ul>
        </p>
      </th>
      </tr>
      <tr>
        <td><a href="shawarma.html"><img src="static/assets/shawarma.jpg" width="260px" heigth="180px" class="img2"></a>
        </td>
        <td><a href="shishtawook.html"><img src="static/assets/shishtawook.jpg" width="240px" heigth="400px"
              class="img2"></a>
        </td>
        <td><a href="dolma.html"><img src="static/assets/dolma.jpg" width="240px" heigth="400px" class="img2"></a></td>
        <td><a href="kofta.html"><img src="static/assets/kofta.jpg" width="240px" heigth="400px" class="img2"></a></td>
        <td><a href="quwarmah.html"><img src="static/assets/quwarmah.jpg" width="240px" heigth="400px" class="img2"></a>
        </td>
      </tr>
      <th>
        <p>
        <ol class="p">Mansaf</ol>
        </p>
      </th>
      <th>
        <p>
        <ul class="p">Kebab Karaz</ul>
        </p>
      </th>
      <th>
        <p>
        <ul class="p">Baklava</ul>
        </p>
      </th>
      <th>
        <p>
        <ul class="p">Knafeh</ul>
        </p>
      </th>
      <th>
        <p>
        <ul class="p">Iraqi Masgouf</ul>
        </p>
      </th>
      </tr>
      <tr>
        <td><a href="mansaf.html"><img src="static/assets/mansaf.jpg" width="260px" heigth="180px" class="img2"></a>
        </td>
        <td><a href="kebabkaraz.html"><img src="static/assets/kebabkaraz.jpg" width="240px" heigth="400px"
              class="img2"></a>
        </td>
        <td><a href="baklava.html"><img src="static/assets/baklava.jpg" width="240px" heigth="400px" class="img2"></a>
        </td>
        <td><a href="knafeh.html"><img src="static/assets/knafeh.jpg" width="240px" heigth="400px" class="img2"></a>
        </td>
        <td><a href="iraqimasqouf.html"><img src="static/assets/iraqimasqouf.jpg" width="240px" heigth="400px"
              class="img2"></a></td>
      </tr>
    </table>
  </center>
  <address class="s">Created by:<br>Mohammed Murtuza</address>
</body>

</html>