<!doctype html>
<html>

<head>
  <title>Iraqi Masgouf</title>
</head>

<body>
  <link rel="stylesheet" href="static/styles/style.css" type="text/css">
  <h1>
    <center>Arabian Food</center>
  </h1>
  <marquee bgcolor=330000><i><u>Welcome To Arabian Food</i></u></marquee>
  <h2 class="p">
    <center>Iraqi Masgouf</center>
  </h2>
  <center><img src="static/assets/iraqimasqouf.jpg" width="260px" heigth="160px" class="img2"></center>
  <p class="p1">
    <font color="white">
      Ingredients:<br><br>
      -1 1/2 pound white freshwater fish (carp, catfish, branzino, etc), descaled, gutted and butterflied
      -Marinade<br>
      -1/4 cup olive oil<br>
      -1 teaspoon ground turmeric powder<br>
      -1 teaspoon tamarind paste, dissolved in water (or substitute with 1 tablespoon lemon juice)<br>
      -1 teaspoon dried fenugreek (optional)<br>
      -1 teaspoon black pepper<br>
      -1 teaspoon sea salt<br>
      -Tomato Curry Sauce<br>
      -2 tablespoons tomato paste<br>
      -1 cup cherry tomatoes, halved<br>
      -2 medium onions, diced<br>
      -2 garlic cloves, minced<br>
      -1 1-inch piece of ginger, minced<br>
      -2 stalks fresh parsley, chopped finely<br>
      -2 teaspoons curry powder<br>
      -1 teaspoon turmeric powder<br>
      -1 teaspoon dried fenugreek leaves (optional, but highly recommended)<br>
      -1 teaspoon black pepper<br>
      -Juice of 1 lemon<br>
      -1 teaspoon sea salt<br><br>
  </p>
  <p class="p1">
    <font color="white">
      Instructions<br><br>
      Stage 1 - Butterfly and Marinate Fish<br><br><br>
      If not already butterflied, take your whole fish and cut it lengthwise down the belly. Keep the back intact, and
      spread both parts of the fish open to create one flat, connected piece. (Alternatively, you can ask your
      fishmonger to pre-butterfly the fish for you)<br>
      Place the fish into an oven-safe baking dish (cast iron works best), and set aside for the time being<br>
      Next, take a small bowl and mix together your olive oil, dissolved tamarind paste, turmeric powder, salt and
      pepper. Mix well until you have a marinade with a smooth, even consistency to it<br>
      Spoon or brush your marinade over the outside of your fish, then open the fish to lay flat and generously marinade
      the inside<br>
      Cover the fish and let sit in the fridge for 30 minutes while you tend to the tomato topping<br><br>
      Stage 2 - Prepare Tomato Curry Topping<br><br>
      Take a medium-sized pot over medium-high heat with a healthy dollop of olive oil<br>
      Start by adding in your minced garlic and onions, and cook for 1-2 minutes as it starts to sweat and become
      translucent<br>
      Next, add in your tomato paste and cherry tomatoes, and cook together for another 1-2 minutes<br>
      Follow this by adding in your turmeric, ginger, curry powder, dried parsley leaves and black pepper and mix well.
      Once well mixed, cook everything for another 6-7 minutes over a medium heat as the tomatoes begin to soften<br>
      Turn off the heat at this point and add in your lemon juice. Stir the lemon juice in well into the sauce and then
      let your sauce sit until your fish is finished baking<br><br>
      Stage 3 - Bake the Fish<br><br>
      By now, your fish will have marinated well and will be ready for the "makeshift masgouf" cooking. Start by
      preheating your oven to 450 degrees Fahrenheit<br>
      Sprinkle a little extra sea salt (for good luck) over your butterflied marinated fish, and place it in the oven
      for 35 minutes<br>
      After 35 minutes, take your fish out ever so briefly. Hopefully it appears flaky, at which point you can drizzle
      some of the tomato curry sauce on top of fish<br>
      Turn on the broiler and broil the fish for another 2 minutes, then you're done. Alternatively, you could also bake
      it for another 5 minutes at the same heat<br>
      Remove the masgouf from the oven, let cool for a few minutes, then serve with extra tomato sauce, bread, chutney,
      salad, a few lemon wedges and anything else you might like. Enjoy!<br><br>
  </p>
</body>

</html>